Object.assign(Ingredients.prototype, {
template(){
  const ingrId = Date.now();
return `
<div class="card">
    <div class="card-body">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        <div class="row form-wrap single-ingr">
            <div class="col-lg-5 col-md-5 col-sm-12 ing">
              <label class="label" for=${ingrId}>
                Ingrediens<span class="req"></span>
              </label>
              <input type="text" class="names ingredient" id=${ingrId}/>
              <div  class="list-group result"></div>
            </div>
          
          
            <div class="col-lg-3 col-md-3 col-sm-12 ing">
              <label class="label" >
                Kvantitet<span class="req"> (g)</span>
              </label>
              <input type="text" class="text-input unit" />
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12 select-wrap ing">
                <div class="form-group">
                  <label class="sr-only" for="unit">Välj enhet</label>
                  <select class="custom-select" id="unit">
                    <option value="unit" id="unit-chosen">Välj enhet</option>
                    <option value="st">st</option>
                    <option value="g">g</option>
                    <option value="kg">kg</option>
                    <option value="ml">ml</option>
                    <option value="dl">dl</option>
                    <option value="tsk">tsk</option>
                    <option value="krm">krm</option>
                  </select>
                </div>
              </div>
          
            <div class="col-lg-2 ">
              <div class="ingredient-btn ingredient-delet"><i class="fas fa-minus-circle ingredient-btn"></i></div>
            </div>
          </div>
    </div>
  </div>


`}
})