
Object.assign(Footer.prototype, { template(){ return `
  <section class="row">
    <div class="col-12 col-sm-4 col-lg-4 py-lg-3 pt-3 pt-sm-0">
      <div class="row d-flex justify-content-center">
        <div class="col-7 col-sm-8 col-md-7">
          <h3 class="text-white font-weight-bold my-3 my-3 d-flex justify-content-between"><a class="text-white font-weight-bold"
              href="/">Smaklig måltid</a>
          </h3>
          <ul class="mt-3">
            <li class="mt-3"><a href="#" class="text-light">Kontakta oss</a></li>
            <li><a href="#" class="text-light">Annonsera</a></li>
            <li><a href="#" class="text-light">Om cookies</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-4 col-lg-4 py-lg-3 pt-0">
      <div class="row d-flex justify-content-center">
        <div class="col-7 col-sm-8 col-md-7">
          <h3 class="text-white font-weight-bold my-3 my-3 d-flex justify-content-between">OM OSS</h3>
          <ul class="text-light mt-3">
            <li><a href="#" class="text-light">Om Smaklig måltid</a></li>
            <li><a href="#" class="text-light">Allmänna användarvillkor</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-4 col-lg-4 py-lg-3 pt-0">
      <div class="row d-flex justify-content-center">
        <div class="col-7 col-sm-8 col-md-7">
          <h3 class="text-white font-weight-bold my-3 my-3 d-flex justify-content-between">FÖLJ OSS</h3>
          <ul class="text-light mt-3 d-flex justify-content-start">
            <li><a href="#" class="text-light fa-2x mr-3"><i class="fab fa-facebook-square"></i><p class="sr-only">Facebook</p></a></li>
            <li><a href="#" class="text-light fa-2x mr-3"><i class="fab fa-instagram"></i><p class="sr-only">Instagram</p></a></li>
            <li><a href="#" class="text-light fa-2x mr-3"><i class="fab fa-pinterest-square"></i><p class="sr-only">Pinterest</p></a></li>
            <li><a href="#" class="text-light fa-2x mr-3"><i class="fab fa-twitter-square"></i><p class="sr-only">Twitter</p></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
`;}});