Object.assign(StartPage.prototype, { template4(){ return `

  <div class="row">
    <div class="col-12 text-center p-4">
      <h2>Populära recept</h2>
    </div>
    <div class="cards row px-4 cards-row">
      ${this.filteredCards.length ? this.filteredCards.render('', 3) : this.app.recipes.render('', 3)}
    </div>
    <div class="col-12 text-center pt-4">
      <div class="btn text-white rounded-0 px-4 py-3 more-btn ${(this.app.recipes.length <= 8) || (this.filteredCards.length <=8 && this.selectedCategory.length> 0) ? 'd-none' : ''}">Visa fler</div>
    </div>
  </div>

`;}});