Object.assign(StartPage.prototype, { template2(){ return `
  <div class="row start-main-content py-3">

    <aside class="col-md-4 col-lg-3 pb-3">
      <a href="/create_recipe" class="pop btn btn-danger btn-lg btn-block text-white new-recept-btn mt-md-5 mb-1">Skapa ett
        nytt recept</a>
      <div id="accordion" role="tablist">
        <a class=" heading-toggle text-dark border-0 p-0 font-weight-bold" data-toggle="collapse" href="#collapseOne" aria-expanded="true"
          aria-controls="collapseOne">
          <div class="card-header header-name border p-3 side-card" role="tab" id="headingOne">
            Måltider
          </div>
        </a>
        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body border border-top-0 border-bottom-0 px-2 py-1">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="frukost">
              <label class="form-check-label mt-1" for="frukost">Frukost</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="lunch">
              <label class="form-check-label mt-1" for="lunch">Lunch</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="mellanmol">
              <label class="form-check-label mt-1" for="mellanmol">Mellanmål</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="forratter">
              <label class="form-check-label mt-1" for="forratter">Förrätter</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="huvudratter">
              <label class="form-check-label mt-1" for="huvudratter">Huvudrätter</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="efterratt">
              <label class="form-check-label mt-1" for="efterratter">Efterrätter</label>
            </div>
          </div>
        </div>
        <a class="collapsed text-dark heading-toggle border-0 p-0 font-weight-bold" data-toggle="collapse" href="#collapseTwo" aria-expanded="true"
          aria-controls="collapseTwo">
          <div class="card-header header-name border p-3 side-card" role="tab" id="headingTwo">
            Ingredienser
          </div>
        </a>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body border border-top-0 border-bottom-0 px-2 py-1">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="flaskkott">
              <label class="form-check-label mt-1" for="flaskkott">Fläskkött</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="fars">
              <label class="form-check-label mt-1" for="fars">Färs</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="korv">
              <label class="form-check-label mt-1" for="korv">Korv</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="kyckling">
              <label class="form-check-label mt-1" for="kyckling">Kyckling & Fågel</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="notkott">
              <label class="form-check-label mt-1" for="notkott">Nötkött</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="pasta">
              <label class="form-check-label " for="pasta">Pasta</label>
            </div>
          </div>
        </div>

        <a class="collapsed text-dark heading-toggle  border-0 p-0 font-weight-bold" data-toggle="collapse" href="#collapseThree" aria-expanded="true"
          aria-controls="collapseThree">
          <div class="card-header header-name border p-3 side-card" role="tab" id="headingThree">
            Speciallkost
          </div>
        </a>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body border border-top-0 px-2 py-1">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="glutenfritt">
              <label class="form-check-label mt-1" for="glutenfritt">Glutenfritt</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="laktosfritt">
              <label class="form-check-label mt-1" for="laktosfritt">Laktosfritt</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="aggfritt">
              <label class="form-check-label mt-1" for="aggfritt">Äggfritt</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="veganer">
              <label class="form-check-label mt-1" for="veganer">Veganer</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="lakto-vegetarianer">
              <label class="form-check-label mt-1" for="lakto-vegetarianer">Lakto-vegetarianer</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="lakto-ovo-vegetarianer">
              <label class="form-check-label " for="lakto-ovo-vegetarianer">lakto-ovo-vegetarianer</label>
            </div>
          </div>
        </div>
      </div>
    </aside>

    <section class="col-md-8 col-lg-9 main-contents">
      <div class="row">

        <div class="col-12 text-center p-4">
          <h2>Populära recept</h2>
        </div>
        ${this.app.recipes.render('', 3)}
      <div class="col-12 text-center pt-4">
        <div class="btn text-white rounded-0 px-4 py-3 more-btn ${this.app.recipes.length <= 8 ? 'd-none' : ''}">Visa fler</div>
      </div>
    </section>

  </div>
`;}});