Object.assign(Recipe.prototype, { template5(){
  const { myRecipes } = this;

  const html = myRecipes.map(recipe => {
    return `
      <div class="col-6 col-md-4 col-lg-3 px-2 mb-3">
          <a href="/recipe/${recipe.url}">
            <div class="card recept-card">
              <img class="card-img-top" src="/imgs/${recipe.img}" alt="${recipe.title}">
              <div class="card-body pb-0">
                <p class="card-title text-center">${recipe.title}</p>
                <p class="author text-secondary font-italic text-center">av ${recipe.author}</p>
              </div>
              <div class="card-footer text-muted d-flex justify-content-between pb-0">
                <p><i class="far fa-clock mr-2"></i>${recipe.time}</p>
                <p class="d-inline-block"><i class="fas fa-heart mr-2"></i>${recipe.likes}</p>
              </div>
            </div>
          </a>
        </div>
    `
  })
  return html.join();
}});

