@import "variables";
@import "mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: map-get($colors, font-black);
}

main {
  /* slightly more than the footer height for more space before footer*/
  margin-bottom: 50px;
}

h1,
h2,
h3 {
  font-family: 'Zilla Slab', serif;
}

h3 {
  font-size: 20px;
}

a:link,
a:hover,
a:visited,
a:active {
  color: map-get($colors, font-black);
  text-decoration: none;
}