@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Zilla+Slab:400,500,600,700');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #333;
  /* slightly more than the footer height for more space before footer*/
  margin-bottom: 370px;
}

h1, h2, h3 {
  font-family: 'Zilla Slab', serif;
}

h3 {
  font-size: 20px;
}

.main {
  display: block;
}

a:link, a:hover, a:visited, a:active {
  color:  #333;
  text-decoration: none;
}