@import "variables";
@import "mixins";

footer {
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #181818;

  ul {
    list-style: none;
    li {
      line-height: 140%;
    }
  }

  .h3 {
    font-size: 17px;
  }

}