@import "variables";
@import "mixins";

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 600px;
  background-color: #181818;

  @include small {
    height: 300px;
  }

  @include large {
    height: 230px;
  }

  ul {
    list-style: none;
  }

}