footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #181818;
}

@media screen and (max-width: 1200px) {

  body {
    margin-bottom: 350px;
  }

  footer {
    height: 300px;
  }

}

@media screen and (max-width: 576px) {

    body {
      margin-bottom: 650px;
    }

    footer {
      height: 600px;
    }

}

footer ul {
  list-style: none;
}

