@import "variables";
@import "mixins";

.header {
  border-bottom: 1px solid map-get($colors, light-gray);
}

.navbar {
  height: 68px;
  letter-spacing: 1px;
  z-index: 1;
}

.logo {
  width: 60px;

  @include medium {
    width: 75px;
  }
}

h1.logo-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

a.nav-link:hover {
  color: map-get($colors, accent) !important;
}

.login-btn {
  border: 1px solid #ccc;
  font-size: 13px;
}

.login-btn:hover {
  background-color: map-get($colors, light-gray);
}