/* -----------------------
       Basic style
-------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

h1, h2, h3 {
  font-family: 'Zilla Slab', serif;
}

h3 {
  font-size: 20px;
}

a:hover {
  color: #e60019;
}

/* ----------------------
       Header style
-------------------------*/
.navbar {
  height: 68px;
  letter-spacing: 1px;
}

.logo {
  width: 144px;
}

.nav-item {
  padding: 0 17px;
}

.login-btn {
  border: 1px solid #ccc;
  font-size: 13px;
}

.login-btn:hover {
  background-color: #f1f1f1;
}


/* ----------------------
       Main style
-------------------------*/
.main {
  display: block;
  height: 700px; /* temporary */
  background-color: rgb(211, 208, 208); /* temporary */
}

.side-menu {
  border: 1px solid #fff; /* temporary */
}

/* ----------------------
       Footer style
-------------------------*/
.footer {
  height: 200px; /* temporary */
  background-color: #181818;
}