*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  position: relative;
  min-height: 100%; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #333; }

main {
  /* slightly more than the footer height for more space before footer*/
  margin-bottom: 50px; }

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif; }

h3 {
  font-size: 20px; }

a:link,
a:hover,
a:visited,
a:active {
  color: #333;
  text-decoration: none; }

header {
  border-bottom: 1px solid #f1f1f1; }

.navbar {
  height: 68px;
  letter-spacing: 1px;
  z-index: 1; }

.logo {
  width: 55px; }
  @media (min-width: 768px) {
    .logo {
      width: 60px; } }

h1.logo-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400; }

a.nav-link:hover {
  color: #e60019 !important; }

.nav-btn {
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 13px; }

.nav-btn:hover {
  background-color: #f1f1f1; }

footer {
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #181818; }
  footer ul {
    list-style: none; }
    footer ul li {
      line-height: 140%; }
  footer .h3 {
    font-size: 17px; }

.heading-content-start-page {
  position: relative;
  min-height: 300px;
  background: url("/imgs/cherry-food-fresh.jpg") no-repeat left;
  background-size: cover; }
  @media (min-width: 768px) {
    .heading-content-start-page {
      min-height: 500px; } }

.search-row {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  width: 75%;
  background-color: rgba(0, 0, 0, 0.56); }
  @media (min-width: 768px) {
    .search-row {
      width: 60%; } }
  .search-row .search-col {
    padding: 30px; }
  .search-row h2 {
    color: #fff;
    font-size: 1.3rem; }
    @media (min-width: 768px) {
      .search-row h2 {
        font-size: 1.7rem; } }
    @media (min-width: 992px) {
      .search-row h2 {
        font-size: 2rem; } }

.start-main-content .heading-toggle .header-name:after {
  font-family: 'Font Awesome 5 Free';
  content: "\f107";
  padding-right: 2px; }
.start-main-content .heading-toggle.collapsed .header-name:after {
  content: "\f105"; }
.start-main-content .recept-card {
  width: 100%;
  height: 320px;
  border-radius: 0%; }
  @media (min-width: 768px) {
    .start-main-content .recept-card {
      height: 310px; } }
.start-main-content .author {
  font-size: 13px; }
.start-main-content .recipeCard:nth-child(n+10) {
  display: none; }
.start-main-content .card:hover {
  opacity: 0.8; }
.start-main-content .card-img-top {
  border-radius: 0%;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%; }
.start-main-content .card-body {
  background-color: #fff; }
.start-main-content .card-footer {
  background-color: #fff;
  border-top: none;
  font-size: 13px; }
  @media (min-width: 768px) {
    .start-main-content .card-footer {
      font-size: 15px; } }
.start-main-content .fa-heart {
  color: #e60019;
  cursor: pointer; }
.start-main-content .more-btn {
  background-color: #e60019;
  font-size: 13px; }
  .start-main-content .more-btn:hover {
    opacity: 0.8; }

aside .new-recept-btn {
  background-color: #e60019;
  font-size: 15px;
  font-weight: 500; }
aside .card:hover {
  background-color: #e60019; }
  aside .card:hover a {
    color: #fff;
    font-weight: 600; }
aside .side-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d4d4d4; }

@media print {
  .author,
  .cooking-time,
  .reciep-picture,
  .comments-btn,
  .comments,
  .icons,
  footer {
    display: none; } }
.recept-main-content {
  overflow-x: hidden;
  background-color: #fff;
  padding: 25px; }

.recipe-title {
  color: #fff;
  font-size: 50pt; }
  @media (max-width: 575px) {
    .recipe-title {
      font-size: 40pt; } }

.heading-content {
  min-height: 310px;
  background-color: #e60019; }

.heading-text {
  position: relative;
  top: 90%;
  transform: perspective(1px) translateY(-50%);
  text-align: center; }

.cooking-time {
  font-size: 19px;
  color: #fff; }
  .cooking-time:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f017";
    padding-right: 8px;
    color: #fff;
    font-size: 19px; }

.author {
  color: #fff;
  font-size: 12pt; }

.reciep-picture {
  /*  background: url("/imgs/apple-pie.jpg");
   background-size: cover;
   min-height: 400px; */
  width: 100%;
  height: 450px; }
  @media (max-width: 575px) {
    .reciep-picture {
      height: 100%; } }

.cooking-ingredients li {
  font-size: 14.5pt;
  font-family: 'Zilla Slab', serif; }

.select-portions, .select-portions:focus {
  background-color: #e60019;
  color: #fff; }

.cooking-instructions {
  width: 75%;
  font-size: 15pt;
  margin-left: 30px;
  margin-bottom: 10px;
  font-family: 'Zilla Slab', serif; }
  @media (min-width: 576px) {
    .cooking-instructions {
      width: 100%; } }
  .cooking-instructions li {
    counter-increment: cookingStep;
    margin-bottom: 5px;
    margin-left: 10px;
    line-height: 140%; }
    .cooking-instructions li:before {
      content: counter(cookingStep);
      width: 30px;
      height: 30px;
      float: left;
      position: absolute;
      left: -42px;
      top: 10px;
      font-size: 15px;
      font-weight: bold;
      text-align: center;
      color: #e60019;
      line-height: 25px;
      border: 2px solid #e2e0e2;
      border-radius: 999px; }

.portions-btn {
  background-color: #e60019;
  color: #fff; }

.comments-btn {
  background-color: #000;
  color: #fff; }

.comments {
  display: none; }
  .comments .send-comment {
    background-color: #333;
    color: #fff; }

p.heart-favorite {
  color: #fff;
  font-size: 19px; }

.heart-favorite:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f004";
  padding-right: 5px;
  color: #fff;
  font-size: 15pt; }

.icons i {
  font-size: 20pt; }
.icons .fa-print {
  cursor: pointer; }
.icons .fa-heart {
  color: #e60019;
  cursor: pointer; }

.new-recept-contents {
  padding-top: 60px;
  background-color: white; }

.names {
  width: 100%; }

.new-recept-contents .ax-product-grid-header {
  padding: 0px; }

.new-recept-contents .layout-wrap {
  flex-wrap: wrap; }

.new-recept-contents .layout-row {
  flex-direction: row;
  box-sizing: border-box;
  display: flex; }

.new-recept-contents .ax-product-grid-tile {
  display: block;
  background-color: #fff;
  box-sizing: border-box; }

.new-recept-contents form {
  margin-top: 40px; }

.new-recept-contents .label,
.custom-select {
  color: rgba(128, 128, 128, 0.5);
  transition: all 0.25s ease;
  line-height: 1; }

.new-recept-contents .label {
  margin-left: 20px;
  margin-top: 5px;
  position: absolute;
  transform: translateY(6px);
  left: 20px;
  transition: all 0.25s ease;
  pointer-events: none; }

.new-recept-contents select {
  position: absolute;
  padding-right: 50px;
  left: 13px;
  margin-top: 0px; }

.new-recept-contents .label .req {
  margin: 2px; }

.new-recept-contents .label.active {
  transform: translateY(40px);
  left: 2px;
  font-size: 12px; }

.new-recept-contents .label .active .req {
  opacity: 0; }

.new-recept-contents .label.highlight {
  color: rgba(128, 128, 128, 0.8);
  left: 20px; }

.new-recept-contents .search-input,
textarea {
  display: block;
  width: 100%;
  height: 100%;
  padding: 9px 10px;
  background: none;
  background-image: none;
  border: 1px solid lightgray;
  color: black;
  border-radius: 4px;
  transition: border-color .25s ease, box-shadow .25s ease; }

.new-recept-contents input,
textarea,
select :focus {
  outline: 0; }

.new-recept-contents textarea {
  border: 2px solid lightgray;
  resize: vertical; }

/*
              img uploader
*/
#file-drag {
  float: left;
  clear: both;
  width: 100%;
  margin: 15px;
  padding: 2rem 1.5rem;
  text-align: center;
  background-color: #eee;
  border-radius: 7px;
  border: 3px solid #eee;
  transition: all .2s ease;
  user-select: none; }

#uploader-start {
  float: left;
  clear: both;
  width: 100%; }

#uploader-start .hidden {
  display: none; }

#uploader-start i.fa {
  font-size: 50px;
  margin-bottom: 1rem;
  transition: all .2s ease-in-out;
  color: #aaa; }

input[type="file"] {
  display: none; }

input[type="text"] {
  width: 100%;
  height: 38px;
  margin-right: 20px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  padding-left: 20px; }

.v-none {
  display: none; }

#file-image {
  display: inline;
  margin: 0 auto .5rem auto;
  max-width: 180px; }

#file-image.hidden {
  display: none; }

#file-upload-btn {
  display: inline-block;
  margin: .5rem .5rem 1rem .5rem;
  clear: both;
  text-decoration: none;
  text-transform: initial;
  outline: none;
  padding: 10px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  background-color: black;
  cursor: pointer;
  border-radius: 0px; }

#mob-upload-btn {
  padding: 10px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  background-color: black;
  border-radius: 0px; }

#notimage {
  display: block;
  float: left;
  clear: both;
  width: 100%; }

#notimage.hidden {
  display: none; }

#large {
  display: block;
  width: 100%; }

/*

      checkboxes
*/
.form-check {
  height: 40px;
  width: 100%; }

.form-check-label {
  display: inline-block;
  padding-top: 10px;
  margin-top: 3px; }

.form-check-input {
  display: block;
  height: 100%;
  padding: 9px 10px;
  background: none;
  background-image: none;
  border: 1px solid lightgray;
  color: black;
  border-radius: 4px;
  transition: border-color .25s ease, box-shadow .25s ease; }

/*
     recept ingredient and steps

*/
#receptTextarea {
  width: 100%;
  border: 2px solid #eee; }

.recept-button-group,
#add-ingredient {
  right: 20px;
  position: absolute;
  margin-top: 0px; }

.add-ingredient {
  margin-bottom: 70px !important; }

.single-ingr {
  margin-bottom: 30px; }

.form-wrapsingle-ingr {
  margin-bottom: 15px; }

.bottom {
  margin-bottom: 40px; }

.ingredient-button-group {
  right: 40px;
  position: absolute;
  margin-top: -8px; }

#recept-cancel {
  background-color: #e60019;
  color: white; }

.recept-btn,
#add-ingredient {
  padding: 10px; }

#recept-submit,
#add-ingredient,
.upload-file-btn {
  background-color: black;
  color: white; }

.upload-file-btn {
  margin-left: 15px; }

#add-ingredient {
  margin-top: 15px;
  margin-bottom: 20px; }

.steps {
  font-size: 1.75rem; }

.ingredient-btn {
  margin-top: -10px;
  margin-left: 20px;
  padding: 0px;
  font-size: 40px; }

.ingredient-delet {
  color: #e60019;
  margin-left: 20px; }

#ingredient-add {
  color: green;
  margin-left: 20px; }

@media screen and (min-width: 992px) {
  .new-recept-contents .ax-product-grid-tile {
    margin-left: 0px;
    margin-right: -10px;
    padding-bottom: 50px;
    margin-bottom: 0px; }

  .new-recept-contents .category-select {
    right: -26px; }

  .new-recept-contents .form-wrap {
    margin-bottom: 30px; }

  #mobil-pad {
    display: none !important; }

  .form-check-label {
    padding-top: 10px; } }
@media only screen and (max-width: 992px) {
  .new-recept-contents .ax-product-grid-tile {
    margin: 0px;
    padding-bottom: 50px; }

  .mob {
    margin-bottom: 25px; }

  .select-wrap {
    margin-bottom: 65px;
    margin-right: 30px; }

  #large {
    display: none; }

  #mobil-pad {
    display: block; }

  .checkbox-wrap {
    padding-bottom: 20px; }

  .form-check {
    height: 40px;
    width: 100%; }

  .form-check-input {
    display: block; }

  .form-check-label {
    padding-top: 10px; } }
@media screen and (max-width: 750px) {
  .ingredient-delet {
    display: none; }

  #ingredient-add {
    display: none; } }
.my-page {
  overflow-x: inherit; }
  .my-page .fa-utensils {
    color: #ccc; }
  .my-page .author {
    font-size: 13px; }
  .my-page .recept-card {
    height: 100%; }
    @media (min-width: 576px) {
      .my-page .recept-card {
        height: 320px; } }
    @media (min-width: 992px) {
      .my-page .recept-card {
        height: 320px; } }
  .my-page .card-footer {
    background-color: #fff;
    border-top: none;
    font-size: 11px; }
    @media (min-width: 576px) {
      .my-page .card-footer {
        font-size: 15px; } }
  .my-page .fa-heart {
    color: #e60019; }
  .my-page .more-btn {
    background-color: #e60019;
    font-size: 13px; }
    .my-page .more-btn:hover {
      opacity: 0.8; }
  .my-page .recipeCard:nth-child(n+9) {
    display: none; }

/*# sourceMappingURL=style.css.map */
