Object.assign(CreateRecipe.prototype, { templateIngr(){ return `
<div class="row form-wrapsingle-ingr">
  <div class=" col-md-7 col-sm-12 mob ">
    <label class="label" for="ingredient">
      Ingrediens<span class="req"></span>
    </label>
    <input type="text" class="names" />
  </div>

  <div class="col-md-3 col-sm-12 mob">
    <label class="label" for="unit">
      Kvantitet<span class="req"> (g)</span>
    </label>
    <input type="text" class="text-input unit" />
  </div>

  <div class="col-md-2 ">
    <div class="ingredient-btn ingredient-delet"><i class="fas fa-minus-circle ingredient-btn"></i></div>
  </div>
</div>

`}
})